/* Central CSS */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('/static/app/img/city.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 0.85em;
}

#wrapper {
    min-height: 100%;
    width: 960px;
    margin: 0 auto;
    padding: 48px 0 72px;
}

.box {
    background-color: white;
    border-radius: 5px;
}

/* #menu */
#menu {
    text-align: center;
}

#menu .row {
    border-bottom: 1px solid #eee;
}

#menu .last-row {
    border-bottom: 0;
}

#menu .columns {
    padding: 10px 0;
}

#menu a {
    color: grey;
}

/* #top-row */
#top-row {
    font-size: 0.85em;
}

#top-row .home-wrap .box, #top-row .time-wrap .box {
    margin: 0;
    padding: .75rem 10px .75rem;
    color: grey;
}

#top-row .logout-wrap {
    padding: 0;
}

#top-row .logout-wrap a {
    float: right;
}

#spinner {
    color: red;
}

/* Sidebar */
.sidebar-wrap {
    padding-left: 0;
    padding-right: 0;
}

.action-box {
    padding: 10px;
    width: 100%;
    height: 75px;
}

.action-box img {
    width: 48px;
    border: 1px solid #eee;
    box-shadow: #eee 1px 1px;
    float: left;
}

.action-box .selectize-control {
    padding-left: 58px;
}

.action-box .selectize-input {
    height: 48px;
}

.action-box .selectize-input .item {
    position: relative;
    top: 6px;
}

/* Central */
#central {
    height: 399px;
    padding: 0.8em 1.5em;
}

/* Messages */
#central.messages {
    overflow-y: scroll;
}

.message {
    margin-bottom: 5px;
}

.message.zaphyr {
    color: darkblue;
    font-style: italic;
}

.message.player {
    color: darkcyan;
}

.message.ally {
    color: darkgreen;
}

.message.npc {
    color: darkgoldenrod;
}

.message.enemy {
    color: darkred;
}