html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;
    width: 960px;
    margin: 0 auto;
}

#logo {
    float: left;
    width: 640px;
    text-align: center;
    display: none;
}

#sidebar {
    float: right;
    width: 280px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: none;
    margin-top: 48px;
}

.text-center a {
    text-shadow: 1px 1px 1px #333;
}