<div class="large-12 columns central-wrap" {% if ".central-wrap" in element.hidden %}style="display: none;"{%  endif %}>
    <div id="central" class="wide">
        {% set pmode = 'char' %}
        {% include 'parts/player.html' %}
        <div class="box skills player-full-skills">
            <div class="skills-title">
                Available Skills
            </div>
            {% set skills = player.class_skills() %}
            <div class="skills-row">
                {% for uskill in skills %}
                    {% if uskill.equipped == 0 %}
                    {% set skill = uskill.skill %}
                    {% set equipped = uskill.equipped %}
                    {% include "parts/skill.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>