<div class="large-12 columns central-wrap" {% if ".central-wrap" in element.hidden %}style="display: none;"{%  endif %}>
    <div id="central" class="wide">
        <div class="character player-full-box box">
            <div class="player-name">{{ player.name }}</div>
            <div class="player-class">{{ player.charpclass.name }}{% if player.charsclass %} / {{ player.charsclass.name }}{% endif %}</div>
            <div class="row">
                <div class="player-health large-6 columns">
                    <div class="success progress" role="progressbar" tabindex="0" aria-valuemin="0" aria-valuenow="{{ player.charhealth }}" aria-valuemax="{{ player.charmaxhealth }}" aria-valuetext="{{ player.charmaxhealth }} health">
                        <span class="meter" style="width: {{ player.health_percent() }}%">
                            <p class="meter-text">{{ player.charmaxhealth }}</p>
                        </span>
                    </div>
                </div>
                <div class="player-energy large-6 columns">
                    <div class="progress" role="progressbar" tabindex="0" aria-valuemin="0" aria-valuenow="{{ player.charenergy }}" aria-valuemax="{{ player.charmaxenergy }}" aria-valuetext="{{ player.charmaxenergy }} energy">
                        <span class="meter" style="width: {{ player.energy_percent() }}%">
                            <p class="meter-text">{{ player.charmaxenergy }}</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="player-skills row">
                {% for i in range(1,5) %}
                <div class="skill-box columns large-3">
                {% set uskill = player.skill(i) %}
                {% if uskill %}
                {% set skill = uskill.skill %}
                {% set equipped = uskill.equipped %}
                    {% include "parts/skill.html" %}
                {% else %}
                    &nbsp;
                {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="box skills player-full-skills">
            <div class="skills-title">
                Available Skills
            </div>
            {% set skills = player.class_skills() %}
            <div class="skills-row">
                {% for uskill in skills %}
                    {% if uskill.equipped == 0 %}
                    {% set skill = uskill.skill %}
                    {% set equipped = uskill.equipped %}
                    {% include "parts/skill.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>