<div class="large-8 columns central-wrap" {% if ".central-wrap" in element.hidden %}style="display: none;"{%  endif %}>
    <div id="central" class="box messages">
{#        <div class="message zaphyr"><span class="sender">Zaphyr:</span> Hey! Hey! Wake up! It's time to get up!</div>#}
{#        <div class="message zaphyr">...</div>#}
{#        <div class="message zaphyr"><span class="sender">Zaphyr:</span> Hey! Hey! Really, you're gonna be late!</div>#}
    </div>
</div>
<div class="large-4 columns sidebar-wrap" {% if ".sidebar-wrap" in element.hidden %}style="display: none;"{%  endif %}>
    <div id="sidebar">
        <div class="action-box box">
            <div><img src="{{ url_for('static', filename='app/img/zaphyr-sq.png') }}" alt="Zaphyr" /></div>
            <div id="action">
                <select id="action-select">
                    <option value=""></option>
{#                    <optgroup label="Actions" id="action-actions">#}
{#                        <option value="look"><i class="fa fa-eye"></i> Look</option>#}
{#                    </optgroup>#}
{#                    <optgroup label="Examine" id="action-examine">#}
{#                        <option value="ex-lamp"><i class="fa fa-search"></i>Lamp</option>#}
{#                    </optgroup>#}
{#                    <optgroup label="Responses" id="action=responses">#}
{#                        <option value="rs-1"><i class="fa fa-send"></i>Aargghh</option>#}
{#                    </optgroup>#}
                </select>
            </div>
        </div>
    </div>
</div>