<div class="large-8 columns central-wrap" {% if ".central-wrap" in element.hidden %}style="display: none;"{%  endif %}>
    <div id="central" class="box messages">
        {% if player.logs %}
        {% for log in player.logs %}
            <div class="message {% if log.eclass %}{{ log.eclass }}{% endif %}">
            {% if log.sender %}
                <span class="sender">{{ log.sender }}: </span>
            {% endif %}
            {{ log.msg }}
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="large-4 columns sidebar-wrap" {% if ".sidebar-wrap" in element.hidden %}style="display: none;"{%  endif %}>
    <div id="sidebar">
        <div class="action-box box">
            <div><img src="{{ url_for('static', filename='app/img/zaphyr-sq.png') }}" alt="Zaphyr" /></div>
            <div id="action">
                <select id="action-select">
                    <option value=""></option>
                </select>
            </div>
        </div>
        {% set pmode = 'game' %}
        {% include 'parts/player.html' %}
    </div>
</div>