<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pscion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/foundation/css/normalize.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/foundation/css/foundation.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/selectize/dist/css/selectize.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/selectize/dist/css/selectize.default.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/tipped/tipped.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='app/css/game.css') }}" type="text/css" />
</head>
<body>

<div id="wrapper">
    <div class="row">
        <div class="large-2 columns box" id="menu" {% if "#menu" in element.hidden %}style="display: none;"{%  endif %}>
            <div class="row first-row">
                <div class="large-12 columns">
                    <img src="{{ url_for('static', filename='app/img/pscionred.png') }}" alt="Pscion" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a href="#" id="game" class="active">
                        <i class="fa fa-gamepad"></i><br/>
                        Game
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a href="#" id="character">
                        <i class="fa fa-user"></i><br/>
                        Character
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a href="#">
                        <i class="fa fa-users"></i><br/>
                        Companions
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a href="#" id="inventory">
                        <i class="fa fa-shopping-bag"></i><br/>
                        Inventory
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a href="#" id="skills">
                        <i class="fa fa-flask"></i><br/>
                        Skills
                    </a>
                </div>
            </div>
            <div class="row last-row">
                <div class="large-12 columns">
                    <a href="#" id="journal">
                        <i class="fa fa-book"></i><br/>
                        Journal
                    </a>
                </div>
            </div>
        </div>
        <div class="large-10 columns">
            <div class="row" id="top-row" {% if "#top-row" in element.hidden %}style="display: none;"{%  endif %}>
                <div class="large-5 columns home-wrap">
                    <div class="row box">
                        <div class="large-6 columns home-span-wrap">
                            <a href="#" id="travelModalRevealer"><i class="fa fa-map-signs"></i> <span>{{ location.name }}</span></a>
                        </div>
                        <div class="large-6 columns level-span-wrap">
                            <i class="fa fa-bullseye"></i> <span>L{{ player.level }} ({{ player.exp }} exp)</span>
                        </div>
                    </div>
                </div>
                <div class="large-5 columns time-wrap">
                    <div class="row box">
                        <div class="large-6 columns">Welcome, {{ player.name }}!</div>
                        <div class="large-6 columns"><i class="fa fa-clock-o"></i> <span id="clock"></span></div>
                    </div>
                </div>
                <div class="large-2 columns logout-wrap">
                    <a href="/logout" class="button alert small box">Logout</a>
                </div>
            </div>
            <div class="row" id="content">
                {% include content %}
            </div>
        </div>
    </div>
</div>
<div class="reveal-modal" id="travelModal" data-reveal aria-labelledby="travelModalTitle" aria-hidden="true" role="dialog">
  <div class="travel-image">
      <img src="{{ url_for('static', filename='app/img/zaphyr.png') }}" alt="Zaphyr" style="width: 300px;" />
  </div>
  <div class="travel-right">
      <h2 id="travelModalTitle">Let's go!</h2>
      <select id="travel-select">
          <option value="{{ location.key }}" selected>{{ location.name }}</option>
          {% for link in location.linked %}
          <option value="{{ link.key }}">{{ link.name }}</option>
          {% endfor %}
      </select>
      <div class="text-center shoeprints">
          <a href="#" class="btn">
              <img src="{{ url_for('static', filename='app/img/shoeprints.png') }}" alt="Travel" />
          </a>
      </div>
  </div>
  <a class="close-reveal-modal" data-close aria-label="Close">
      <span>&#215;</span>
  </a>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/foundation/js/foundation.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/selectize/dist/js/standalone/selectize.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/tipped/tipped.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app/js/clock.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app/js/game.js') }}"></script>
</body>
</html>