<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pscion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/foundation/css/normalize.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/foundation/css/foundation.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='app/css/game.css') }}" />
</head>
<body>

<div id="wrapper">
    <div class="row">
        <div class="large-2 columns box" id="menu">
            <div class="row first-row">
                <div class="large-12 columns">
                    <img src="{{ url_for('static', filename='app/img/pscionred.png') }}" alt="Pscion" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a href="#">
                        <i class="fa fa-gamepad"></i><br/>
                        Game
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a href="#">
                        <i class="fa fa-map-signs"></i><br/>
                        Navigation
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a href="#">
                        <i class="fa fa-user"></i><br/>
                        Character
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a href="#">
                        <i class="fa fa-users"></i><br/>
                        Companions
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a href="#">
                        <i class="fa fa-shopping-bag"></i><br/>
                        Inventory
                    </a>
                </div>
            </div>
            <div class="row last-row">
                <div class="large-12 columns">
                    <a href="#">
                        <i class="fa fa-envelope"></i><br/>
                        Mail
                    </a>
                </div>
            </div>
        </div>
        <div class="large-10 columns">
            <div class="row" id="top-row">
                <div class="large-4 columns home-wrap">
                    <div class="row box">
                        <div class="large-12 columns">
                            <i class="fa fa-map-signs"></i> Home
                        </div>
                    </div>
                </div>
                <div class="large-6 columns time-wrap">
                    <div class="row box">
                        <div class="large-6 columns">Welcome, User!</div>
                        <div class="large-4 columns"><i class="fa fa-clock-o"></i> <span id="clock"></span></div>
                        <div class="large-2 columns" id="spinner"><i class="fa fa-spinner"></i></div>
                    </div>
                </div>
                <div class="large-2 columns logout-wrap">
                    <a href="#" class="button alert small box">Logout</a>
                </div>
            </div>
            <div class="row">
                <div class="large-9 columns content-wrap">
                    <div id="content" class="box">
                        <div class="message zaphyr"><span class="sender">Zaphyr:</span> Hey! Hey! Wake up! It's time to get up!</div>
                        <div class="message zaphyr">...</div>
                        <div class="message zaphyr"><span class="sender">Zaphyr:</span> Hey! Hey! Really, you're gonna be late!</div>
                    </div>
                </div>
                <div class="large-3 columns sidebar-wrap">
                    <div id="sidebar">
                        <div id="money" class="box">
                            <div><i class="fa fa-money"></i> Balance:</div>
                            <div class="money">300g</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/foundation/js/foundation.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app/js/clock.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app/js/game.js') }}"></script>
</body>
</html>