<form>
    <div class="row column register-form">
        <h4 class="text-center">Register - Account</h4>
        <label id="username">Username
            <input type="text" name="username" placeholder="Username">
        </label>
        <label id="password">Password
            <input type="password" name="password" placeholder="Password">
        </label>
        <p style="margin-bottom: 0px;">
            <a type="submit" class="button expanded">Continue Registration</a>
        </p>
        <p class="text-center login-link"><a href="#" target="_blank">Login?</a></p>
    </div>
</form>