<form>
    <div class="row column login-form">
        <h4 class="text-center">Login</h4>
        <label id="username">Username
            <input type="text" name="username" placeholder="Username">
        </label>
        <label id="password">Password
            <input type="password" name="password" placeholder="Password">
        </label>
        <p style="margin-bottom: 0px;">
            <a type="submit" class="button expanded login-button">Login</a>
            <a type="button" class="button expanded register-button">Register</a>
        </p>
        <p class="text-center forgot-password"><a href="https://wuufu.wufoo.com/forms/wuufu-urgent-contact/" target="_blank">Forgot your password?</a></p>
    </div>
</form>